.circle {
    width: 50px;
    height: 50px;
    border-radius:25px;
    font-size:2em;
    color:#fff;
    line-height:50px;
    text-align:center;
    background:#000;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}

.dropDown {
    position: absolute;
    top: 5em;
    right: 1em;
}

.dropDown > ul {
    list-style-type: none;
    width: 100%;
}

.dropDown > ul > li > input {
    width: 100%;
}