.actionButtonContainer {
    position: relative;
    display: inline-block;
}

.circle {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    transform: translate(-1vw, 3.5vh);
}

.circle:focus {
    outline: none;
}

.dropDown {
    position: absolute;
    top: 9vh;
    right: 3vw;
    background-color: #f9f9f9;
    border: 1px solid #143e60;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dropDown > ul {
    list-style-type: none;
    padding: 0px;
}

.dropDown > ul > li > input {
    width: 100%;
    border: none;
    color: #777;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
}

.dropDown > ul > li {
    width: 100%;
}