::-webkit-input-placeholder { /* Chrome */
    color: #456990;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #456990;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #456990;
    opacity: 1;
}

:-moz-placeholder { /* Firefox 4 - 18 */
    color: #456990;
    opacity: 1;
}

.registerContainer {
    background-color: #e5e5e5;
}

.appLogo {
    height: 200px;
    margin: 1.5em;
}

.registerForm {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.registerForm input[type="text"], .registerForm input[type="password"]{
    font-size: 1.3em;
    font-weight: 500;
    max-width: 400px;
    width: 100vw;
    margin: 0.3em;
    height: 50px;
    flex-shrink: 0;
}

@media (max-width: 480px) {
    .registerForm input[type="text"], .registerForm input[type="password"]{
        /* max-width: 70%; */
        width: 93vw;
        margin: 0.3em;
    }
}

.registerElementContainer{
    position: relative;
    display: flex;
    flex-direction: row;
}

.registerElement {
    padding: 0.7em;
    border: none;
    transition: box-shadow 0.3s;
    outline: none;
}

.registerElement:focus, .registerElement.focus {
    border: none;
    box-shadow: 0 0 5px 1px #114B5F;
}

.loginIcon {
    position: absolute;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    top: 18px;
    left: 88%;
}

.errorMessageContainer {
    margin: 0.3em;
    padding: 0.3em;
    list-style-type: none;
    font-size: 1.2em;
    background-color: rgba(25, 92, 90, 0.2);
    color: #58595b;
}