version: "3"
services:
  secure-password-deploy:
    image: securepasswordstoragewebapp_secure-password-deploy
    environment:
      ASPNETCORE_URLS: "http://*:5000"
    restart: always
    ports:
      - "8090:5000"