version: "3"
services:
  secure-password-deploy:
    image: taeyeonkim90/secure-password:0.0.1 
    environment:
      ASPNETCORE_URLS: "http://*:5000"
    restart: always
    ports:
      - "8090:5000"
