version: "3"
services:
  web:
    build:
      context: "./app"
      dockerfile: Dockerfile-dev
    environment:
      ASPNETCORE_URLS: "http://*:5000"
      ASPNETCORE_ENVIRONMENT: "Development"
      DOTNET_USE_POLLING_FILE_WATCHER: "1"
    restart: always
    ports:
      - "8080:5000"
    volumes:
      - "./app:/app"
      - /app/obj
      - /app/bin
