.spinner {
    /* margin: 100px auto 0; */
    width: 120px;
    text-align: center;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -100%);
    -webkit-transform: translate(-50%, -100%);  /* Safari */
    -ms-transform: translate(-50%, -100%);   /* IE 9 */
}
  
.spinner > div {
    width: 30px;
    height: 30px;
    background-color: #143e60;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    margin-left: 5px;
    margin-right: 5px;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% { 
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}