.elementContainer{
    background-color: #ffffff;
    border: 2px solid #143e60;
    border-radius: 20px;
    padding: 3px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.search {
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    margin-left: 20px;
    border-radius: 5px;
    width: 100px;
    transition: width 0.5s ease-in-out;
}

.search:focus{
    width: 200px;
}