::-webkit-input-placeholder { /* Chrome */
    color: #86c98a;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #86c98a;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #86c98a;
    opacity: 1;
}

:-moz-placeholder { /* Firefox 4 - 18 */
    color: #86c98a;
    opacity: 1;
}

.loginContainer {
    height: 100vh;
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #004304;
}

.loginForm {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.loading {
    position: absolute;
    width: 20vh;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -100%);
    -webkit-transform: translate(-50%, -100%);  /* Safari */
    -ms-transform: translate(-50%, -100%);   /* IE 9 */ 
}

.loginForm input[type="text"], .loginForm input[type="password"], .loginButton, .registerRedirectButton {
    font-size: 1.3em;
    font-weight: 500;
    max-width: 400px;
    width: 100vw;
    margin: 0.3em;
    height: 50px;
}

@media (max-width: 480px) {
    .loginForm input[type="text"], .loginForm input[type="password"], .loginButton, .registerRedirectButton {
        max-width: 70%;
        width: 100%;
        margin: 0.3em;
    }

    .loginForm a {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

.loginElement {
    padding: 0.7em;
    border: none;
    transition: box-shadow 0.3s;
    outline: none;
}

.loginElement:focus, .loginElement.focus {
    border: none;
    box-shadow: 0 0 5px 1px #114B5F;
}

.loginButton, .registerRedirectButton {
    margin: 0.3em;
    font-size: 1.3em;
    font-weight: 500;
    color: #FFFFFF;
    border: none;
    background-color: #456990;
    transition: box-shadow 0.3s;
    text-align: center;
}

.loginButton:hover, .loginButton.hover {
    color: black;
    border: solid 2px #818181;
}

.errorMessageContainer {
    margin: 0.3em;
    padding: 0.3em;
    list-style-type: none;
    font-size: 1.2em;
    border-radius: 0.2em;
    background-color: rgba(134, 201, 138, 0.2);
    color: black;
}