.loginContainer {
    background-color: #e5e5e5;
}

.appLogo {
    height: 133px;
    margin: 1.5em;
}

.loginForm {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.loginForm input[type="text"], .loginForm input[type="password"]{
    font-size: 1.3em;
    font-weight: 500;
    max-width: 400px;
    width: 100vw;
    margin: 0.3em;
    height: 50px;
    flex-shrink: 0;
}

@media (max-width: 480px) {
    .loginForm input[type="text"], .loginForm input[type="password"]{
        width: 93vw;
        margin: 0.3em;
    }
}

.loginElementContainer{
    position: relative;
    display: flex;
    flex-direction: row;
}

.loginElement {
    padding: 0.7em;
    border: none;
    transition: box-shadow 0.3s;
    outline: none;
    display: inline-block;
}

.loginElement:focus, .loginElement.focus {
    border: none;
    box-shadow: 0 0 5px 1px #58595b;
}

/* .loginElement:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
    box-shadow: 0 0 0 30px white inset;
} */

.loginIcon {
    position: absolute;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    top: 18px;
    left: 88%;
}

.register {
    font-size: 1.2em;
    padding: 0.7em;
    color: #58595b;
}

.errorMessageContainer {
    margin: 0.3em;
    padding: 0.3em;
    list-style-type: none;
    font-size: 1.2em;
    border-radius: 0.2em;
    background-color: rgba(25, 92, 90, 0.2);
    color: #58595b;
}