.wrapper {
    height:100%;
    min-height:100%;
    position: relative;
}

/* fixedBars are positioned absolute within the above wrapper */
.fixedBar {
    background-color: #143e60;
    position: absolute;
    height: 14px;
    left: 10%;
    width: 80%;
}

.topBar {
    top: 0vh;
}

.bottomBar {
    bottom: 0vh;
}