.navBar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #e5e5e5;
    height: 12vh;
    /* padding: 0.5em; */
}

/* .navBar ActionButton {
    margin-left: auto;
} */

.appLogo {
    height: 8vh;
    transform: translate(1.5em,2.5vh);
}