.navBar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #014386;
    padding: 0.5em;
}

.navBar ActionButton {
    margin-left: auto;
}

.appLogo {
    height: 50px;
    border: 2px solid #f9f9f9;
}