.navBar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #e5e5e5;
    height: 100px;
    display: absolute;
    /* padding: 0.5em; */
}

/* .navBar ActionButton {
    margin-left: auto;
} */

.appLogo {
    height: 55.8px;
    transform: translate(-6px,30px);
}