.navBar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #1b9bff;
    padding: 0.5em;
}

.navBar ActionButton {
    margin-left: auto;
}

.logo {
    color: white;
}