.container {
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 88vh;
}

/* 
@media (max-width: 1000px) {
    .container {
        width: 70%;
    }
}

@media (max-width: 600px) {
    .container {
        width: 100%;
    }
} */