.container {
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding-bottom: 20px;
    padding-top: 20px;
}

.message {
    margin-left: 17px;
    margin-right: 17px;
    text-align: center;
}

/* 
@media (max-width: 1000px) {
    .container {
        width: 70%;
    }
}

@media (max-width: 600px) {
    .container {
        width: 100%;
    }
} */