.newCardContainer {
    border: 3px solid #143e60;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #ffffff;
    max-width: 500px;
    width: 90%;
}

.newCard {
    display: block;
    height: 6vh;
    margin-left: auto;
    margin-right: auto;
}

.button {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}