.newCardContainer {
    border: 2px solid #195c5a;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #ffffff;
    max-width: 500px;
    width: 90%;
}

.newCardButton {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    display: block;
    margin: 10px;
    margin-bottom: 0;
}

.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 100px;
    margin-left: 100px;
}

.button {
    border-radius: 25px;
    outline: none;
    width: 60px;
    background-color: #f5f5f5;
}