.newCardContainer {
    border: 3px solid rgba(223, 233, 255, 0.671);
    padding: 10px;
    text-align: center;
}

.newCard {
    display: block;
    width: 6vh;
    height: 6vh;
    margin-left: auto;
    margin-right: auto;
}

.button {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}