.newCardContainer {
    border: 2px solid #195c5a;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #ffffff;
    max-width: 500px;
    width: 90%;
}

.newCard {
    display: block;
    margin: 10px;
}

.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 100px;
    margin-left: 100px;
}

.button {
    border-radius: 25px;
    outline: none;
    width: 60px;
}