.material-icons.green { color: #195b59; }
.material-icons.em-30 { font-size: 3em; }
.material-icons.em-35 { font-size: 3.5em; }

body {
    font-family: sans-serif;
    color: #58595b;
    height: 100%;
}

html {
    height: 100%;
}