::-webkit-input-placeholder { /* Chrome */
    color: #58595b !important;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #58595b !important;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #58595b !important;
    opacity: 1;
}

:-moz-placeholder { /* Firefox 4 - 18 */
    color: #58595b !important;
    opacity: 1;
}