.cardContainer {
    border: 2px solid rgba(20, 62, 96, 0.47);
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #ffffff;
    max-width: 500px;
    width: 90%;
}

.card{
    height: 40px;
}

.expanded{
    height: auto !important;
}

.foldButton {
    display: block;
    margin-left: auto;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 40px;
    margin-left: 40px;
}

.button {
    border-radius: 25px;
    outline: none;
    width: 69px;
    background-color: #f5f5f5;
}