.cardContainer {
    border: 3px solid rgba(1, 68, 134, 0.63);
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.card{
    height: 40px;
}

.expanded{
    height: auto !important;
}

.foldButton {
    display: block;
    margin-left: auto;
}

.button {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}