.cardContainer {
    border: 3px solid #143e60;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #ffffff;
    max-width: 500px;
    width: 90%;
}

.card{
    height: 40px;
}

.expanded{
    height: auto !important;
}

.foldButton {
    display: block;
    margin-left: auto;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.button {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}